# With some help from: https://gist.github.com/dgerosa/2e1f47a39180f39bde848e38243efa94

name: build
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # Edit here with the names of your latex file and directory (can use ".")
      DIR: .
      FILE: cv
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Build One Page CV
        uses: dante-ev/latex-action@latest
        with:
          root_file: one-page-cv
      - name: Build Multi Page CV
        uses: dante-ev/latex-action@latest
        with:
          root_file: multi-page-cv
      - name: move
        run: mkdir -p github_artifacts && mv *.pdf ./github_artifacts/
      - name: Upload PDFs as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cv-pdfs
          path: ./github_artifacts/*.pdf
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: github_artifacts
      - name: move
        run: mkdir -p github_deploy && mv github_artifacts/*/* github_deploy
      - name: deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./github_deploy
          publish_branch: build
          force_orphan: true
          enable_jekyll: true
  copy-index-to-build:
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Copy To Branches Action
        uses: planetoftheweb/copy-to-branches@v1.3
        env:
          key: main
          files: index.html CNAME
  trigger-profile-update:
    needs: [copy-index-to-build]
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Profile Update
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/SiddhuShkya/SiddhuShkya/dispatches \
            -d '{"event_type":"cv_updated"}'
